 
*{
  color: hsl(0, 0%, 14%);
  Padding: 0;
Margin:0;

}
body{

  margin: 0;

}
 a{

  text-decoration: none;
  color: black;
}


img{
 
   height: 350px;
  margin: 1px;
  }

  figure {
     padding: 27px;
    margin: auto;
  }


  figcaption {
     color: black;
    font-style: italic;
    padding: 1px;
   }

   button {
    padding: 19px  40px;
    color: white;
    background-color: #232323;

   }

   input[type=submit]{
    padding: 19px  40px;
    margin-top: 20px;
    color: white;
    background-color: #232323;
font-size: large;
   }


   .div_button{
    margin-top: 80px;
    margin-bottom: 99px;



   }

   .button {
    margin: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  

   }





 h3{
  font-size:25px;
}
 


body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.topnav {
   position: fixed;
   margin-top: 40px;
   width: 100%
 }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 27px;
  }
/* SPLIT THE right aline  */

.topnav a.split {
  float: right;
   color: rgb(0, 0, 0);
}


.topnav .active{
  font-size: 50px;
  color: rgb(0, 0, 0);


}
.main{
  /* border: 5px solid red; */
height: 400px;
  padding:  900px;

}

.main h1{
  padding:  90px;

 
}
.parhraf{

  padding:  90px;



}



.first{

   text-align: center;
    margin: 80px;
   

   
   /*  */
   height: 200px;
   position: relative;
 }
 .main{
 
    padding: 15px;
     font-size:3vw;
     min-width: 60px;
     text-align: center;
     width: 70%;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
 }


 .parhraf{
  font-size: 30px;
  text-align: center;



 }
 
.row{
  display: flex;

  /* The flex-flow property is a shorthand property for setting both the flex-direction and flex-wrap properties. */


  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
 

}

.contener_book{

  display: flex;

  /* The flex-flow property is a shorthand property for setting both the flex-direction and flex-wrap properties. */

  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
 
height: 700px;
background-color: #F2EDEB;
font-size: 30px;
}

.contener_book div {
  
  height: 500px;
width: 600px;
font-size: large;
padding: 10px;
  
}
.contener_book div button{
  margin-bottom: 40px;
  font-size:25px;
font-weight: 900;

}

.contener_book img{
padding-right: 120px;
height: 500px;
}
.contener_book h3{
font-size: 30px;
width: 400px;

}
 
.contener_book p{
  padding: 30px;

}
.Instagram{

height: 900px;
text-align: center;
  font-size: 30px;
   
}
  .Instagram h1{
    padding:  9%;


  }
.Instagram_img{
  margin: 109x;

 display: flex;
justify-content: space-evenly;

}
.contener_email{
  display: flex;
  flex-direction: column;
  /* The flex-flow property is a shorthand property for setting both the flex-direction and flex-wrap properties. */
   justify-content: space-evenly;
  align-items: center;
 
   
  
height: 650px;
background-color: #F2EDEB;
font-size: 30px;

   }

 

.contener_email [type="email"] {
width: 500px;
height: 50px;


}
.contener_email div>*{
  display: flex;
  flex-direction: column;
 
 width: 500px;
  Margin:90px;

}

  label {
    display: block;
        padding: 10px;

   }
   
   svg{
    padding: 10px;
   }
   






#myBtn {
   position: fixed;
  bottom: 25px;
  right: 30px;
   font-size: 18px;
   background-color: rgb(245, 147, 147);
  color: white;
   padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  cursor: pointer;
  background-color: #333;
}
