 
*{
   border: 1px   ;

}
body{

  margin: 0;

}

a{

  text-decoration: none;
  color: black;
}


img{
 
  max-width: 100%;
  height: 350px;
  margin: 40px;
  }
 h3{
font-size: x-large;
 }
 


body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%
 }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
/* SPLIT THE right aline  */

.topnav a.split {
  float: right;
   color: rgb(0, 0, 0);
}


.topnav .active{
  font-size: 36px;
  color: rgb(0, 0, 0);


}






.first{

   text-align: center;
    margin: 80px;
   

   
   /*  */
   height: 200px;
   position: relative;
 }
 .main{
 
    padding: 20px;
     font-size:3vw;
     min-width: 60px;
     text-align: center;
     width: 40%;
     margin-top: 210px;
     margin-left: auto;
     margin-right: auto;
 }


 .parhraf{
  font-size: 30px;
  text-align: center;



 }
 
.row{
  display: flex;

  /* The flex-flow property is a shorthand property for setting both the flex-direction and flex-wrap properties. */


  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
 

}
.column{
   

}
#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 30px;
   font-size: 18px;
   background-color: rgb(245, 147, 147);
  color: white;
   padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  cursor: pointer;
  background-color: #333;
}